/* Palette from Color Hunt
https://colorhunt.co/palette/2b3a55ce7777e8c4c4f2e5e5
#2B3A55
#CE7777
#E8C4C4
#F2E5E5 */

body {
    text-align: center;
    font-family: 'Signika', sans-serif;
    background-color: #F2E5E5;
    color: #2B3A55;
}

a {
    color: #2B3A55;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
    text-align: left;
}

.to-do-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#daily-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E8C4C4;
    width: 75%;
    height: auto;
    font-size: .8em;
    margin: 3px;
    border: 3px solid #CE7777;
    border-radius: 5px;
    padding: 5px;
    overflow-wrap: anywhere;
}

.list-text {
    font-size: 1.5em;
    padding-left: 1em;
}

.x-out {
    width: 25px;
    height: 25px;
}

#add-item {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 3px;
    padding: 5px 5px 0 5px;
}

#add-item-text {
    font-size: 1em;
    width: 5em;
}

#add-item-text-box {
    width: 100%;
    height: 1.5em;
    font-size: 1.3em;
    resize: none;
    border: 3px solid #CE7777;
    border-radius: 5px;
    outline: none;
}

#add-item-text-box:focus {
    border-color: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.2em;
        text-align: center;
    }

    .item {
        font-size: .9em;
    }

    #add-item-text {
        font-size: 1.2em;
        width: 8.5em;
    }

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .item {
        font-size: 1em;
    }

    #add-item-text {
        font-size: 1.4em;
    }

    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}